*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100%;
    border:  9px solid black;
    margin-top: 50px;
}
.row{
    height: 100%;
    border:  6px solid green;
}
.col{
    height: 150px;
    border:  3px solid navy;
}