*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    /* border: 2px solid black; */
    height: 100%;
}
.row{
    /* border: 1px solid red; */
    height: 100%;
}
.col,.col-md-4{
    /* border: 3px solid blue; */
}